h1 h2 {
  color: DarkGreen;
}

body {
  font-family: Helvetica, sans-serif;
}

.beaches {
  color: SeaGreen;
}

.header p {
  text-align: center;
  background-color: turquoise;
}

.title {
  font-weight: bold;
}
